[Desktop Entry]
Version=1.0
Name=CPU Frequency
Comment=Deskop file for CPU Frequency - mooOS
Exec=urxvtc -name "CPU Freq" -title "CPU Freq" -e cpu_freq
Icon=gtk-info
Terminal=false
Type=Application
Categories=Utility;Application;