[Desktop Entry]
Version=1.0
Name=CPU Frequency
Comment=Deskop file for CPU Frequency - mooOS
Exec=urxvtc -name "CPU Freq" -e watch grep \"cpu MHz\" /proc/cpuinfo
Icon=defcon
Terminal=false
Type=Application
Categories=Other;Terminals
