[Desktop Entry]
Version=1.0
Name=CPUS Temp
Comment=Deskop file for CPUS Temp - mooOS
Exec=urxvtc -name "CPUS" -title "CPUS" -e ~/bin/cpus_temp
Icon=yelp-note-warning.png
Terminal=false
Type=Application
Categories=Utility;Application;
