[Desktop Entry]
Version=1.0
Name=Gkrellm System Monitor
Comment=Deskop file for gkrellm
Exec=gkrellm
Icon=system-info
Terminal=false
Type=Application
Categories=Utility;Application;
