[Desktop Entry]
Version=1.0
Name=Music On Console Player
Comment=Deskop file for music on console player - mooOS
Exec=urxvtc -name "MOCP" -e mocp
Icon=minitunes
Terminal=false
Type=Application
Categories=Other;Terminals
