[Desktop Entry]
Version=1.0
Name=Update Packages
Comment=Deskop file for package updates - mooOS
Exec=urxvtc -name "Updates" -e sudo pacman -Syu && pacaur -Syud && echo "This will stay open for 10 mins then close..." && sleep 10m
Icon=update-manager
Terminal=false
Type=Application
Categories=Other;Application;