[Desktop Entry]
Version=1.0
Name=Radio
Comment=Deskop file for pyradio - mooOS
Exec=urxvtc -name "Radio" -e pyradio
Icon=radio
Terminal=false
Type=Application
Categories=AudioVideo;Player;Recorder;
