[Desktop Entry]
Version=1.0
Name=Startup Hint
Comment=Desktop file for startup hint- mooOS
Exec=startup_hint
Icon=preferences-system-notifications
Terminal=false
Type=Application
Categories=Other;
