[Desktop Entry]
Version=1.0
Name=TTY Clock
Comment=Deskop file for TTY Clock - mooOS
Exec=urxvtc -name "Clock" -e tty-clock -tc
Icon=preferences-system-time
Terminal=false
Type=Application
Categories=Utility;Application;