[Desktop Entry]
Version=1.0
Name=urxvt daemon
Comment=urxvt daemon - mooOS
Exec=urxvtd -q -o -f
Icon=terminal
Terminal=false
Type=Application
Categories=Other;Terminals