#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Zandronum (Doom)
Comment=Doom client
Exec=zandronum
Icon=gnome-robots
Terminal=false
Categories=Game
